.Card {
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
  min-width: 300px;
  overflow: hidden;
}

.Card .Conteudo {
  color: black;
  flex: 1;
  padding: 15px 0;
  text-align: center;
}

.Card .Footer {
  background-color: black;
  color: white;
  padding: 5px 0;
  text-align: center;
}
